*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 html {
    font-size: 62.5%;
}

/****************
    SECTION-9 
 ****************/

.section-9{
    background-image:url(images/about_bg.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.radio-city{
    color: #fff;
    text-align: center;
    padding-top: 20%;
}

.musical-hall{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 2;
}

.date{
    font-size: 1.6rem;
    font-weight: 300;
}

/***************
    SECTION-10
 ***************/

.ticket-amount{
    display: flex;
    justify-content: center;
    margin-top:6.8rem;;
}

.ticket-amount img{
    justify-content: center;
    width: auto;
    height: 90%;
    width: 100%;
}

.ticket-icon{
    display: inline-flex;
    align-items: center;
}

figure img{
   height: 80%;
}

.figure-caption{
    border-right:1px dotted #a2a1a1;
    border-bottom:1px dotted #a2a1a1;
    padding:2.4rem ;
}

.hall-name{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

.date-time{
    list-style: none;
    font-size: 1.6rem;
    margin-top: 1.8rem;
    color: #000;
}

.ticket-rate-start{
    font-size: 1.5rem;
    /* margin-left: 2rem; */
    margin-bottom: 2.8rem;
    color: #949090;
}

.purchase-ticket-btn{
    text-decoration: none;
    /* margin-left: 2rem; */
    font-size: 1.4rem;
    background-color: #2c2c2ce3;
    padding: 1.2rem 2.4rem;
    color: #fff;
    transition: all 0.3s;
}

.purchase-ticket-btn:hover{
    background-color: #555454;
}

/******************
    SECTION-11
 ******************/

 .container-11{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 2.4rem;
    padding: 4.2rem 9.2rem;
}


 .sec-11-head{
    font-size: 2.4rem;
    font-weight: 700;
 }

 .about-show{
    font-size: 1.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 300;
    line-height: 2;
 }

 .about-show a{
   text-decoration: none;
   font-weight: 200;
 }

 .item-restricted{
    font-size: 2.4rem;
    font-weight: 700;
 }

 .restricted-list{
    list-style: none;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    font-weight: 300;
 }

 .parking{
    font-size: 2.4rem;
    font-weight: 700;
 }


.parking-details{
    margin-top: 2.4rem; 
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 1.8rem;                              
}

.directions{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: #646363;
    transition: all 0.3s;
}

.directions span{
    font-size: 1.4rem;
    font-weight: 900;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
    display: inline-block;
}

.directions:hover span {
    transform: translateX(0.5rem);
}

.directions:hover{
    color: #000;
}

.show-ticket{
    padding: 1.2rem;
}

.show-ticket h4{
    font-size: 1.8rem;
    font-weight: 800;

}

.show-ticket-list{
    list-style: none;
    border: 1px dotted black;
    margin-bottom: 1.5rem;
    padding: 1.8rem 2.4rem;
    
}

.show-ticket-list h5{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0;
}

.show-ticket-list span{
    display: block;
    font-size: 1.4rem;
}

.fetival-list-carry{
    display: flex;  
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
 }
 
 .cart-icon{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 2.4rem;
    background-color: #625f5fed;
    width: 2rem;
    height: 2rem;
    padding: 1.2rem;
    color: #fff;
 }

