*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.section-13{
    background-image:url(images/rent_venue_bg.jpg) ;
    height: 40vh;
    width: 100%;
}

.container-13{
    color: #fff;
    text-align: center;
    padding-top: 6%;
}

.venue-h{
    font-size: 5.4rem;
    line-height: 2;
    font-weight: 900;
}

.head-p{
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 200;
}

/***************
    SECTION=-14
 ***************/

.container-14{
    padding: 2.4rem 12.8rem;
}

.nav-bar-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6.4rem;
}

.hall-list{
    display: flex;
    list-style: none;
    gap: 2.4rem;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.hall-list a{
    text-decoration: none;
    color: #000;
}

.hall-list a:hover{
    color: #696868;
}


.btn-3{
    border: none;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    background-color: #2e2c2c;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-3:hover{
    background-color: #454444;
}


.square-hall{
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
}


.square-garden{
    display: flex;
    align-items:center ;
    gap: 2.4rem;
}

iframe{
    height: 30rem;
    width: 50rem;
}
.div-paragraph-1{
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    line-height: 1.6;
    font-weight: 200;
}

.div-paragraph-2{
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 200;
}

.square-garden-list{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    align-items: center;
    gap: 20%;
    margin-top: 2.4rem;
    border-top: 1px dotted #cecece;
    border-bottom: 1px dotted #cecece;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 2rem 0;
    color:#a3a0a0;
}

.question{
    padding-top: 1.8rem;
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
}

.answer{
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 1.8rem;
    line-height: 1.6;
}

.location-status{
    display: inline-flex;
    align-items:center ;
    font-size: 1.6rem;
    text-decoration: none;
    color: #a3a0a0;
    transition:  all 0.2s;

}

.location-status span{
    font-size: 2rem;
    font-size: 800;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
}

.location-status:hover{
    color: #000;
}


.location-status:hover span {
    transform: translateX(0.5rem);
}