*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

/*
NAV-BAR-1 
 */

.nav-bar-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 8.6rem;
    background-color: rgb(234, 235, 235);
}

.nav-bar-1 p{
    color: rgb(47, 47, 47);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform:capitalize;
}

.nav-bar-1 a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 1.4rem;
    text-transform: capitalize;
}

/**********
NAV-BAR-2 
 ********** */

.nav-bar-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 8.6rem;
}

.nav-bar-2 .art{
    font-size: 2.8rem;
    color:rgb(119, 116, 116);
    text-transform: capitalize;
}

.art strong{
    font-size: 3.4rem;
    color: black;
}

.menu-bar-list{
    display: flex;
    list-style: none;
    gap: 4.4rem;
    font-size: 1.6rem;
}

.menu-bar-list a{
    text-decoration: none;
    color: rgba(10, 10, 10, 0.917);
    font-weight: 400;
    transition: all 0.3s;
}

.menu-bar-list a:hover{
    color: #8e8e8e;
}

.section-1{
    background-image: url(images/banner_bg.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height: 80vh;
    color: #fff;
}

.container-1{
    text-align: center;
    padding-top: 15%;
}

.opening-date{
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.festival-name{
    font-size: 5.2rem;
    text-transform: capitalize;
    margin-bottom: 3.2rem;
    font-weight: 800;
}

.btn{
    text-decoration: none;
    color:#0e0e0e;
    font-size: 1.4rem;
    background-color: #fff;
    padding: 1.4rem 1.8rem;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #f1f3f5;
    color: #000;
}

/* SECTION-2 */

.container-2{
    text-align: center;
}

.event-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 3.4rem;
}

.event-img img{
   margin: 1rem;
}

/*
SECTION-3 
 */


 .section-3{
    padding:4.6rem 12.4rem ;
 }

 .container-3{
    display: flex;
    align-items: center;
    gap: 9.4rem;
 }

 .venue-head{
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 2.4rem;
 }

 .venue-details{
    font-size: 1.4rem;
    line-height:2;
    color: #504e4e;
    font-weight: 200;
 }

 .venue-details a{
    text-decoration: none;
 }
 .venue-details a:hover{
   color: rgb(23, 7, 168);
 }

 .location{
    font-size: 2.4rem;
    font-weight:800;
    margin-bottom: 2.4rem;
 }

 .location-icon{
   align-items: center;
 }

 .location-details{
    font-size: 1.4rem;
    font-weight: 300;
    color: #504e4e;
    line-height: 1.8;
 }

 .visit-section a{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 400;
    color: #969494;
    line-height: 1.6;
    transition: all 0.3s;
 }

 .visit-section a:hover{
    color: #504e4e;
 }

 .arrow-icon{
    align-items: center;
    font-weight: 600;
 }

 .section-4 img{
    width: 100%;
  }

 /************
    SECTION-5 
  *************/

.section-5{
    padding: 4.4rem ;
}

 .venue-ticket{
    text-align: center;
    margin-bottom: 3.4rem;
    font-size: 3rem;
    font-weight: 700;
 }

 .event-details{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
 }

 .event-details figure img{
    width: 100%; 
 }

 /* .purchase-btn{
    display: flex;
    background-color: #6C757D;
    padding: 12rem 0rem;
    border-radius: 1.2rem;
 } */

 .p-ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    color: #fff;
    background-color: #5D656C;
    padding: 2.4rem 2.8rem;
 }  

 .button{
    border: none;
    padding: 0.8rem 2.2rem;
    transform: rotate(270deg);
    font-size: 1.4rem;
 }


 .music-hall-name{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2.2;
 }

 .lorem{
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.8;
 }

 .cup {
    font-size: 1.6rem;
    font-weight: 300;
 }

 .cup{
    display: flex;
    align-items: center;
    gap: 3.4rem;
 }

 .ticket-icon{
    display: inline-block;
    align-items: center;
 }

 .ticket-price{
    font-size:1.8rem;
    font-weight: 200;
 }

 .ticket-price strong{
    font-weight: 600;
    font-size: 1.8rem;
 }
